/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Apply global reset */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --bg-bottom: hsl(153,66%,11%);   /* Replace with your actual text color */
  --bg-mid: hsl(152,100%,4%);   /* Replace with your actual text color */
  --bg-top: hsl(160,100%,2%);   /* Replace with your actual text color */

  --button-top: hsl(101,28%,17%);
  --button-bottom: hsl(143,43%,15%);
  --button-green: hsl(123,25%,17%);

  --search-bg: hsl(138,28%,12%);
  --search-text: hsl(135,6%,86%);

  --title-text: hsl(48,68%,85%);   /* Replace with your actual text color */
  --chiti-text: hsl(48,68%,93%);   /* Replace with your actual text color */
  --chiti-green: hsl(153,45%,9%);
  --chiti-bg: hsl(48,69%,95%);   /* Replace with your actual text color */
}

body {
  background: linear-gradient(to top, var(--bg-bottom) 0%, var(--bg-mid) 50%, var(--bg-top) 100%);
}

.btn-gradient {
  background: linear-gradient(to top, var(--button-bottom), var(--button-green), var(--button-top));
  color: var(--chiti-text);
}

.btn-border-highlight {
  position: relative;
  z-index: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.btn-border-highlight::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px; /* border thickness */
  background: linear-gradient(to top, rgba(255,255,255,0.1), rgba(255,255,255,0.8));
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}